[2021-10-05 16:30] stuartMoorhouse opened #144 "Feature request: make API keys a Resource"
## Overview
Elastic Cloud API Keys could be a Resource, so they can be created with, and used within, Terraform.

## Possible Implementation
There is a Resource API_key, which creates an API Key for a Deployment in Elastic Cloud and outputs text and base64 encoded values of the key as attributes.

## Testing
A user can create a Deployment and an API Key for that Deployment, and then use the attrib

[2021-11-04 14:40] Kushmaro opened #2 "Align "elasticsearch_connection" and "provider" blocks"
When configuring a single stack using the _provider_ for the connection details, users need to specify
```url``` , ```username```, ```password```

When configuring the ```elasticsearch_connection``` block on a specific resource, users specify
```endpoints = ["url1","url2"..]``` , ```username```,```password```

We should probably align both to use the latter "endpoints" for easier UX, allowing user

[2021-11-04 15:31] Kushmaro opened #3 "[feature] Support ILM policies"
Details TBD, will be edited once hashed out

[2021-11-04 15:31] Kushmaro opened #4 "[feature] support snapshot repositories"
Details TBD, will be edited once hashed out

[2021-11-04 15:52] Kushmaro opened #5 "[feature] support kibana spaces"
placeholder. details tbd, will edit once we have them.

[2021-11-09 14:47] #2 closed, assigned to olksdr

[2021-11-17 09:26] #3 closed, assigned to olksdr

[2021-11-22 06:45] #4 closed, assigned to olksdr

[2021-11-25 11:17] Kushmaro opened #21 "[feature] Snapshot lifecycle policies"
Another item which is worthwhile implementing in order to be on par with the community provider is SLM policies.
A user needs to be able to:

- Set the policy name
- Set the repository for a policy
- Set a cron schedule for snapshotting
- Set a snapshot name pattern (we can default to <policy-name>-<now/d> and not require this field)

[2021-12-06 15:22] #21 closed, assigned to olksdr

[2021-12-09 15:03] Kushmaro opened #26 "Release initial version 0.1.0"
- Build binaries
- Make repository public
- Make sure bits get published to our current `elastic` page in the [terraform registry here](https://registry.terraform.io/namespaces/elastic)

/cc @marclop if he can help with some of the process

[2021-12-16 14:35] Kushmaro opened #30 "Set a distinct user agent so we can track general usage of the stack provider"
The provider should set its user-agent header to something that can be identified.
the `ec` provider uses - `elastic-terraform-provider/<version> (cloud-sdk-go/<version)`

I suggest we use
`elasticstack-terraform-provider/<version>` for the this provider

and I'll make sure the cloud one uses
`elasticcloud-terraform-provider/<version>` in next versions.

so that we have better  alignment.

[2021-12-17 07:59] #30 closed, assigned to olksdr

[2021-12-20 12:52] olksdr commented on #26
TF provider was published
https://registry.terraform.io/providers/elastic/elasticstack/latest

[2021-12-20 12:52] #26 closed

[2022-01-10 10:11] paulojmdias opened #33 "[feature] support Elasticsearch indexes"
Hi all 👋

First of all, congratulations for building this project 🙌

Do we have any plans to support managing Elasticsearch Indexes?

Thanks

[2022-01-10 11:33] olksdr commented on #33
hey @paulojmdias,
I'm pretty sure were are going to support indices as well. And @Kushmaro can provide more info on the roadmap here.

[2022-01-10 14:03] Kushmaro commented on #33
Thanks for opening this @paulojmdias !
This is definitely something that we intend to support, as of now we're waiting for some feedback from our early users (such as yourself) to determine priority and importance, and this definitely resonates with things that we intend to support.

Do you mind if I ask for your general use case around our terraform provider in conjunction with an Index resource?

[2022-01-10 17:19] paulojmdias commented on #33
Hello @Kushmaro @olksdr,

Many thanks for at least hearing my request! :)

I want to manage Elasticsearch indices across multiple environments and clusters using Terraform and GitOps with [Atlantis](https://www.runatlantis.io/)

Of course, I want to abstract some settings in the index resource using a Terraform module, but this is for removing the dependency so everyone doesn't need to know what v

[2022-01-11 00:56] utilitynerd opened #34 "Support self-signed / internal Certificate Authorities"
My Elasticsearch cluster uses an internal Certificate Authority to secure all network communication.  When I try and use this provider with my cluster, I get:  Error: x509: certificate signed by unknown authority

I see the "ec" provider supports  "insecure = true", but when I try adding setting to this provider, I get:  An argument named "insecure" is not expected here.

Is there any way to use t

[2022-01-11 09:14] Kushmaro commented on #34
Thanks @utilitynerd !

We didn't include such support in the initial version we've released but that's definitely something we'll be looking into and hopefully be able to deliver on soon.

[2022-01-11 17:41] gtheodorio commented on #33
I also would love the ability to create ES indices. Currently getting around this by creating an index template, life cycle config, and adding an alias, but would be nice to just create indices and aliases.

[2022-01-11 18:24] utilitynerd commented on #34
I've never actually tried submitting a PR request to an open source project before, but this issue was blocking my adoption of the provider so I figured I would give it go.

[2022-01-12 21:29] JoaoSerras commented on #33
+1 for this feature 🙌
It would be lovely to have this available

[2022-01-20 06:36] #34 closed

[2022-01-20 13:54] cmanzur opened #37 "Error deleting snapshot resources manually"
This is a **bug** report:

1- Create this resource and `terraform apply`
[code]

2- Manually delete the repository from KIBANA UI.

3- Run `terraform apply` again

[code]

Same applies for: **elasticstack_elasticsearch_snapshot_lifecycle**

**Notes:**
To use s3, you must install the plugin: `bin/elasticsearch-plugin install --batch repository-s3`

ES version: **docker.elastic.co/elasticsearch/elas

[2022-01-20 15:28] olksdr commented on #37
Hey @cmanzur, thanks for reporting this issue!  I'll be looking into this in the beginning of the next week.

[2022-01-20 15:50] paulojmdias commented on #33
Many thanks, @olksdr 🙏

I will test it when it merged and released

[2022-01-24 16:12] #33 closed

[2022-01-26 05:16] #37 closed

[2022-01-27 07:49] olksdr commented on #33
New version of the provider was published, see: [v0.2.0](https://github.com/elastic/terraform-provider-elasticstack/releases/tag/v0.2.0)

[2022-01-27 07:50] olksdr commented on #37
New version of the provider was published, see: [v0.2.0](https://github.com/elastic/terraform-provider-elasticstack/releases/tag/v0.2.0)

[2022-01-27 07:50] olksdr commented on #34
New version of the provider was published, see: [v0.2.0](https://github.com/elastic/terraform-provider-elasticstack/releases/tag/v0.2.0)

[2022-01-28 20:56] RobDTech opened #46 "[Feature] Support for Alert Connectors"
Having the ability to add and maintain connectors used for alerts

[2022-01-28 20:58] RobDTech opened #47 "[Feature] Support for Role Mappings"
Having the ability to add and maintain Role Mappings for use with SAML

[2022-01-28 20:59] RobDTech commented on #47
This provider is fantastic, it’s going to save us from the painful mess of shell scripts we currently use

[2022-01-28 21:00] RobDTech opened #48 "[Feature] Support for Alerts"
Having the ability to add and maintain alerts

[2022-01-28 21:03] RobDTech opened #49 "[Feature] Support for Transforms"
Add the ability to add and maintain transforms

[2022-01-28 22:22] tophokie opened #50 "[Bug] Creation of s3 snapshot repository fails when arn is provided"
When attempting to create a s3 repository with an associated role_arn, receive an error that the role_arn setting is unsupported. The api supports this as follows:

https://docs.aws.amazon.com/opensearch-service/latest/developerguide/managedomains-snapshots.html

Error below:

│ Error: Unsupported argument
│
│   on main.tf line 76, in resource "elasticstack_elasticsearch_snapshot_repository" "elas

[2022-01-31 17:53] fdvieira-td opened #52 "[Bug] Provider does not allow update of dynamic index settings after being created"
**Describe the bug**
Hello guys 👋  We've found a bug in the provider when using `resource "elasticstack_elasticsearch_index"` where this resource does not allow to update dynamic index settings if there are any static settings declared as well.

**To Reproduce**
Steps to reproduce the behavior:
1. TF configuration used. Create a new index with both static and dynamic index settings
[code]

2. Run

[2022-01-31 18:22] fdvieira-td opened #53 "[Bug] Index settings not being imported to terraform"
**Describe the bug**
Hey guys 👋 We've found a bug in the provider when using `resource "elasticstack_elasticsearch_index"` where this resource does not import the existing index settings to terraform.

**To Reproduce**
Steps to reproduce the behavior:
1. TF configuration used. Create a new index with alias, mappings and settings manually:
[code]
2. Add the configuration of this index to `terraform

[2022-02-01 05:18] olksdr commented on #52
Hey @fdvieira-td!

Thanks for reporting this bug here. I think I know what's going on and I will try to reproduce the error locally and prepare the fix for it.

[2022-02-01 12:47] #52 closed

[2022-02-01 15:35] nixfloyd opened #56 "[Feature] Support for ingest pipelines"
Add the ability to manage [Ingest Pipeline](https://www.elastic.co/guide/en/elasticsearch/reference/7.16/ingest.html) definitions.

[2022-02-02 14:39] #53 closed

[2022-02-03 07:12] olksdr commented on #56
Initial PR https://github.com/elastic/terraform-provider-elasticstack/pull/57 to add the resource. But there should be few followup PRs to add data_sources to manage processors as well.

[2022-02-03 11:18] RobertPasRPM opened #58 "[Bug] Mapping type missing"
Hi, I am trying to create an index using this code:
[code]
When trying to create the index, this error appears:
[code]
I am loading local.mapping using file function in locals.tf to retrieve string from a json file and the json file looks like this:
`{"mappings: {  "type_name" : { "properties":{ and here all the fields ..`

I am expecting this to work when I try to create the index using Kibana an

[2022-02-03 11:30] olksdr commented on #58
Hey @RobertPasRPM,

the error you see is coming from the Elasticsearch, where validation of the mapping is failing.  You might have to remove the `{"mappings:` part of the object from your file, and only use the part where the mapping is defined

When you look at the example https://github.com/elastic/terraform-provider-elasticstack/blob/7118919599a2b21b5cd2bcfbaa3179a580aec3a9/examples/resources/

[2022-02-03 12:13] RobertPasRPM commented on #58
I removed the mappings node, the same issue:
[code]

[2022-02-03 12:24] olksdr commented on #58
What version of the Elasticsearch do you use?

[2022-02-03 12:26] RobertPasRPM commented on #58
6.8.15

[2022-02-03 12:38] olksdr commented on #58
This provider supports ES versions starting from `7.x`, and some of the options just not compatible. This also mentioned in the [`README`](https://github.com/elastic/terraform-provider-elasticstack#getting-started)

In your case this looks like you're providing mapping with index type, which was deprecated in `7.x` and by default is not supported and will be completely removed in `8.x`.

Please, s

[2022-02-03 12:38] #58 closed

[2022-02-03 16:46] officialgawney opened #59 "[Bug] Error when building `elasticstack_elasticsearch_index_lifecycle` resource"
Hello we're using the elastic provider in terraform to automate the build of some of our elastic resources.

However when trying to build an ILM policy to our cluster via the **elasticstack_elasticsearch_index_lifecycle** resource the resource plans by fails to apply.

Specifically we believe it's related the the use of the allocate block - we're able to run a plan / apply successfully without it.

[2022-02-03 21:36] sabedevops commented on #47
+1. We have to use phillbaker/terraform-provider-elasticsearch for now, until this is implemented.

[2022-02-04 06:58] olksdr commented on #59
Hi @officialgawney,

Thanks for opening this issue and reporting a problem you have. I took the example you've posted and tried to run `terraform plan` and immediately getting an error:
[code]
Which points to the exact place where the problem exists.  The `exclude` field in the `allocate` action must contain a proper JSON object. For example:

[code]

where `box_type` is a custom attribute in the

[2022-02-04 10:14] officialgawney commented on #59
Hi @olksdr. We've update our config with the required jsonencode (see below) and we're getting a new error message during the plan (also below) . We're still using version 0.2.0 - so presume that we don't have the changes you made as part of #60 .

**Our new implementation**

`resource "elasticstack_elasticsearch_index_lifecycle" "index_lifecycle_default" {
  name = "logs-${module.account_insights

[2022-02-04 11:00] olksdr commented on #59
Thanks for additional info @officialgawney. But the fix is necessary , since the `allocate` action in version `0.2.0` has a bug, which does not properly handle the JSON objects. And the linked PR fixes it.

For now if you want to use ILM with this provider, you will need to remove `allocate` action from the configuration, which you can add later once the new version is released.

[2022-02-04 11:44] bulwant opened #61 "[Feature] Resource to allow creation of Index stream"
**Is your feature request related to a problem? Please describe.**

Currently there is a elasticstack_elasticsearch_index, but none to create index streams, there is a resource to build index templates for streams, but nothing to trigger the creation of a stream.

Similar to the following api

https://www.elastic.co/guide/en/elasticsearch/reference/7.16/indices-create-data-stream.html

**Describe

[2022-02-04 11:50] olksdr commented on #61
This feature already merged and will be released in the new version, see #45

[2022-02-04 11:51] #61 closed

[2022-02-04 13:45] #59 closed

[2022-02-04 18:15] RobDTech commented on #47
https://www.elastic.co/guide/en/elasticsearch/reference/current/security-api-put-role-mapping.html

[2022-02-04 18:16] RobDTech commented on #49
https://www.elastic.co/guide/en/elasticsearch/reference/current/transform-api-quickref.html

[2022-02-04 18:17] RobDTech commented on #48
https://www.elastic.co/guide/en/kibana/master/alerting-apis.html
Create/Update/Delete

[2022-02-04 18:18] RobDTech commented on #46
https://www.elastic.co/guide/en/kibana/master/actions-and-connectors-api.html
Create/Update/Delete

[2022-02-04 18:29] RobDTech opened #62 "Manage saved objects"
Would it be feasible to manage saved objects from Terraform?

I'm not sure if this would be a single feature request or multiple depending on the type. The ones we are very keen on are connector, index-pattern, tags, lens and dashboard.

Thanks for the features so far, this is helping us a lot!

[2022-02-07 09:14] Kushmaro commented on #50
Hi @tophokie , this provider is for managing Elasticsearch only at this time. We do not currently support any Opensearch functionality.

[2022-02-07 09:15] #50 closed

[2022-02-09 10:17] ndemeshchenko opened #63 "[Bug] No support for darwin_arm64."
**Describe the bug**
[code]

**Desktop (please complete the following information):**
arch: darwin_arm64.

[2022-02-09 10:37] olksdr commented on #63
@ndemeshchenko  from the error this looks like different provider `ec` which has its own repository: https://github.com/elastic/terraform-provider-ec

I will transfer this issue in there

[2022-02-09 15:07] RishikeshDarandale opened #64 "[Bug]: import of snapshot repository resource not working"
**Describe the bug**
While importing a snapshot repository, getting following error:
[code]

[code]
I have tried to put the actual credential and endpoint values as well, but it gives the same error.

**To Reproduce**
Steps to reproduce the behavior:

1. terraform import
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

A resource should get successfull

[2022-02-09 16:27] olksdr commented on #64
Hey @RishikeshDarandale , thank for opening this issue.

This is the limitation of the Terraform itself, if the there is no resource in the state (as in case of the `import`), terraform won't evaluate the configuration in the file, and only will be looking for the name of the resource which you're trying to import, so basically `elasticsearch_connection` block is just ignored before we actually ru

[2022-02-09 17:24] RishikeshDarandale commented on #64
Thank @olksdr for a quick reply.

I tried the first one and it failed with below error:

[code]
I have provided the username and password, why it is expecting a ApiKey?

[2022-02-09 17:57] acrewdson commented on #48
+1, would be really helpful

[2022-02-10 05:24] olksdr commented on #64
It's an interesting one.  I've just tested locally with a new cluster and could not reproduce this error.

Could you print those credentials with something like:

[code]

just to get exact values from the terraform run when you create a cluster. So you can what will be used to configure the connection.
And then use those values with `curl` to check if they work or you get same error?

[code]

[2022-02-10 06:13] sidharthvijayakumar opened #65 "Need to attach ILM policy while creating an index template[Feature]"
**Is your feature request related to a problem? Please describe.**
When I create a index template I have a requirement to attach ILM policy in the settings but am unable to do that
![Error I am getting when I try to attach an existing ILM policy to index template]()

[2022-02-10 12:17] nicholastucker commented on #48
+2, would be great!

[2022-02-10 13:50] RishikeshDarandale commented on #64
@olksdr , I already had output for `endpoint` and it's correct. But, when I tried to output `username` and `password`, its not getting output. I added hardcoded (temporary) to provider block as below:

[code]

Then, I received an error as below:

[code]

I am pretty sure that it's a s3 repository and which is readonly created from console. Now, Just trying to import this resource under the terrafo

[2022-02-10 14:39] RishikeshDarandale commented on #64
`Import` does not work with following provider block, but creating a new resource works!

[code]

[2022-02-10 16:32] faudebert opened #66 "[Bug] Unable to update existing user without having most fields set"
**Describe the bug**
For example, if `password` (or `password_hash`) is not known by Terraform (ex. after an import), it's not possible to manage this user with Terraform at all.

**To Reproduce**
1. Import an existing user with `terraform import 'elasticstack_elasticsearch_security_user.coin' abcdefg/coin`
2. Update your local resource to match the imported user. For example:
[code]
3. Update a f

[2022-02-10 22:53] acrewdson commented on #46
+1

[2022-02-11 06:53] olksdr commented on #66
hey @faudebert, thanks for opening issue and providing all the details! I will put this on my list to look into this asap.

[2022-02-11 06:59] olksdr commented on #64
@RishikeshDarandale, if there are some problems with exporting the credentials from `ec_deployment`, you might need to open an issue in https://github.com/elastic/terraform-provider-ec/issues so it can be tracked separately,

------

About the error you get:

I cannot reproduce this with my setup and can easily import resources with different snapshot repositories types.

It is difficult to say an

[2022-02-11 07:04] olksdr commented on #65
hey @sidharthvijayakumar  can you post the error you get and the configuration you use to provide the ILM policy in the settings?

[2022-02-11 13:05] Kushmaro commented on #47
thanks @RobDTech @sabedevops , for the great feedback. we will take this into consideration for the next version.
please feel free and welcome to open any further tickets on any additional functionality you think is helpful.

[2022-02-11 16:22] nbs-rsutton commented on #48
+3, would be very helpful!

[2022-02-13 06:47] sidharthvijayakumar commented on #65
Hi got this error when I tried to apply

terraform apply
╷
│ Error: Reference to undeclared resource
│
│   on main.tf line 14, in resource "elasticstack_elasticsearch_index_template" "temp":
│   14:       lifecycle.name = "sdid"
│
│ A managed resource "lifecycle" "name" has not been declared in the root module.

This is how I have declared the ilm policy :

resource "elasticstack_elasticsearch_ind

[2022-02-14 09:46] officialgawney commented on #59
Thanks for the info @olksdr and your speedy response on this matter. Are you able to give me an ETA on when the new version is going to be released?

Many thanks - Matt

[2022-02-14 09:48] olksdr commented on #59
@officialgawney I'm currently working on one more issues, and once it's fixed and merged I will be releasing a new version. I'm looking at the end of this week or the beginning of next one.

[2022-02-14 09:51] officialgawney commented on #59
@olksdr thanks for the info.

Matt

[2022-02-14 09:52] olksdr commented on #65
So the error you see is coming from the Terraform. It tries to find the `managed resource` since you're using `lifecycle.name` without quotes.

Basically in the repos is an example of how you can use it, see
https://github.com/elastic/terraform-provider-elasticstack/blob/6c589279eb1a51fa665a8cae3794fbd8746012b7/examples/resources/elasticstack_elasticsearch_data_stream/resource.tf#L32-L37

Where I

[2022-02-14 09:52] #65 closed

[2022-02-14 10:48] #66 closed

[2022-02-14 17:29] BenB196 opened #70 "[Feature] Support for API Key Management"
**Is your feature request related to a problem? Please describe.**
Managing Elasticsearch API keys is somewhat cumbersome, especially on large scale deployments where you want fine grain permission controls.

**Describe the resource you would like to have implemented.**
Ability to manage/create API keys via Terraform.

**Describe the solution you'd like**
I'd like to be able to specify an API key

[2022-02-15 09:25] #56 closed

[2022-02-15 10:52] sidharthvijayakumar opened #71 "[Feature]Need API key to authenticate from terraform to Elasticstack"
Hey,

Need API key as an authentication mechanism instead of username and password.

https://registry.terraform.io/providers/elastic/elasticstack/latest/docs

Currently, we are using username and password to authenticate with Elasticstack but as state files will have these details is there any secured way to authenticate with elasticstack/Kibana ?

[2022-02-15 15:59] Kushmaro commented on #71
@sidharthvijayakumar , you can actually authenticate using environment variables, if you don't want them to be stored in the state file.

[2022-02-17 12:27] olksdr commented on #66
New version of the provider released: [v0.3.0](https://github.com/elastic/terraform-provider-elasticstack/releases/tag/v0.3.0)

[2022-02-17 12:27] olksdr commented on #59
New version of the provider released: [v0.3.0](https://github.com/elastic/terraform-provider-elasticstack/releases/tag/v0.3.0)

[2022-02-17 12:27] olksdr commented on #56
New version of the provider released: [v0.3.0](https://github.com/elastic/terraform-provider-elasticstack/releases/tag/v0.3.0)

[2022-02-17 12:28] olksdr commented on #53
New version of the provider released: [v0.3.0](https://github.com/elastic/terraform-provider-elasticstack/releases/tag/v0.3.0)

[2022-02-22 11:39] artm opened #73 "[Bug] panic using elasticstack_elasticsearch_security_user data source"
**Describe the bug**

When attempting to use the provider it crashes with a runtime error.

**To Reproduce**

1. TF configuration used

[code]

2. TF operations to execute to get the error

[code]

3. See the error in the output

[code]

**Expected behavior**

no error

I'll submit the trace log in a comment later

**Versions (please complete the following information):**
 - OS: Linux
 - Terraform

[2022-02-22 11:49] artm commented on #73
trace log:

[code]

[2022-02-22 11:52] olksdr commented on #73
hey @artm
thanks for reporting the issue.

Looking at the code, and more precisely  here https://github.com/elastic/terraform-provider-elasticstack/blob/465c336e59950a781a59e9b03b77bf1d6e9a5a81/internal/elasticsearch/security/user_data_source.go#L83,
issue can happen either if there is no `elastic` user, or `elastic` user does not have enough permissions to fetch the users from the clusters.

I co

[2022-02-22 12:02] artm commented on #73
I have renamed the issue to reflect your analysis @olksdr

[2022-02-22 12:12] olksdr commented on #73
Fix is done in https://github.com/elastic/terraform-provider-elasticstack/pull/74

[2022-02-22 13:52] CondormanFr opened #75 "[Feature] Add the ability to add data views (ex index pattern)"
When setting up a new instance, needed to create data views (ex index pattern)

https://www.elastic.co/guide/en/kibana/current/data-views-api.html

[2022-02-23 05:39] #73 closed

[2022-02-24 12:46] mikeclearbank opened #78 "[Bug] is_write_index is spelt incorrectly (is_wtite_index)"
**Describe the bug**
The mapping for the **is_write_index** property is spelt incorrectly.

located:
https://github.com/elastic/terraform-provider-elasticstack/blob/465c336e59950a781a59e9b03b77bf1d6e9a5a81/internal/models/models.go#:~:text=IsWriteIndex%20%20bool%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%60json%3A%22-,is_wtite_index,-%2Comitempty%22%60

![image](https://user-images.g

[2022-02-24 12:56] olksdr commented on #78
hey @mikeclearbank thanks for the bug report!

I will address this right away

[2022-02-24 13:16] olksdr commented on #78
PR is up #79 and will be merged as soon as CI pass

[2022-02-24 13:39] olksdr commented on #78
New version of the provider was released [v0.3.1](https://github.com/elastic/terraform-provider-elasticstack/releases/tag/v0.3.1)

[2022-02-24 13:39] olksdr commented on #73
New version of the provider was released [v0.3.1](https://github.com/elastic/terraform-provider-elasticstack/releases/tag/v0.3.1)

[2022-02-24 14:54] RyanHealey1307 opened #80 "[Bug] Error when building elasticstack_elasticsearch_index_lifecycle resource (2)"
Hello, we're using the elasticstack provider in Terraform to build of some of our Elastic resources - when trying to build an ILM policy to our cluster via the elasticstack_elasticsearch_index_lifecycle resource the resource fails to apply for the allocate meta-argument (my colleague raised a similar request on 0.2.0 which is 'closed' now - but still getting an error.).

We're tried this on 0.3.0

[2022-02-24 16:22] olksdr commented on #80
Hey @RyanHealey1307 , thanks for the report. Good catch!
This is another bug which went unnoticed and I've already prepared the fix in https://github.com/elastic/terraform-provider-elasticstack/pull/81

[2022-02-24 16:38] RyanHealey1307 commented on #80
Thank you very much @olksdr much appreciated!

[2022-02-25 07:18] matthiashaasesourceforge opened #82 "[Feature] Data sources for elasticsearch_roles / elasticsearch_role_mapping"
Please integrate elasticsearch_role and elasticsearch_role_mapping incl. new func... Data Sources from https://registry.terraform.io/providers/disaster37/elasticsearch

Problem:
There is a problem build our planned ELK Stack per terraform incl. role and role_mapping.
Also we need to remove not needed role and role_mapping if there are some "trojaner" added ressources (if occurs).

Ressources + Dat

[2022-02-25 07:42] #80 closed

[2022-02-25 08:52] Grimmi2112 commented on #82
I just saw that the missing "role mapping" feature was already described in Feature Request 47: https://github.com/elastic/terraform-provider-elasticstack/issues/47
It has also already been tagged for version 0.4.0, which is great. We need the feature very much!

In addition to that it would be great to have data sources for "roles" & "role mappings". With these data sources we would like to creat

[2022-02-25 16:17] alexlafreniere commented on #48
+4, this would be amazing for us

[2022-02-28 09:16] Kushmaro commented on #82
Thanks for opening @matthiashaasesourceforge
next time, please try to keep a sensible title as it was a bit hard to follow and understand. We will consider these for next upcoming versions.

[2022-02-28 12:34] olksdr commented on #80
released the new bug fix version [v0.3.2](https://github.com/elastic/terraform-provider-elasticstack/releases/tag/v0.3.2), please check it out. I hope the bug is fixed for you

[2022-02-28 13:01] RyanHealey1307 commented on #80
This has solved it, thank you for such a quick release!!

[2022-03-01 15:42] mikeclearbank commented on #82
we are also in need of the role mapping functionality. Its paramount for people who want to set up SSO (openid, saml etc...) for their Kibana.

[2022-03-04 20:01] Josh-a-e opened #83 "Question: How does this repo relate to the older `ec` provider?"
It looks like this supersedes this: https://github.com/elastic/terraform-provider-ec

Is there any advice on moving from one to the other?

[2022-03-08 01:51] vinay-kosaraju opened #84 "Make provider package importable"
**Is your feature request related to a problem? Please describe.**
I am taking a stab at getting a Pulumi provider built for this terraform provider using [pulumi-tf-provider-boilerplate](https://github.com/pulumi/pulumi-tf-provider-boilerplate). For this to work, `provider` package needs to be importable.

Are there any plans for getting a Pulumi provider for this already?

**Describe the solutio

[2022-03-08 09:12] Kushmaro commented on #83
@Josh-a-e this provider is for the elastic stack. It doesn't supersede the "ec" provider which is for Elastic Cloud.
They actually work together to complete each other's function -
the "ec" provider manages Elastic Cloud deployments (Spins up the stack) and this provider can configure the stack itself.

The documentation depicts how the two providers [can be used together](https://registry.terrafo

[2022-03-08 09:12] #83 closed

[2022-03-10 11:14] marekduciuc opened #85 "[Feature] Add road map"
**Is your feature request related to a problem? Please describe.**
The [readme.md](https://github.com/elastic/terraform-provider-elasticstack/blob/main/README.md) does not provide much information on what is the scope of this project. What are planned capabilities?  (CRUD on  indices, CRUD on index templates etc..)
Some of these are apparent from already existing feature requests but not everythin

[2022-03-12 12:42] arunsudhakar opened #86 "[Bug] New cluster creation fails when using OIDC settings"
When trying to setup a new cluster with OIDC connectivity enabled, the cluster fails to deploy successfully and remains in an unhealthy state. If the cluster is setup with OIDC disabled (but the OIDC secret must be set using ec_deployment_elasticsearch_keystore) at first, wait for it to be online and then the OIDC is enabled and re-applied it works. Upon analysis of the logs it seems to be because

[2022-03-13 07:22] olksdr commented on #86
This error is coming from [terraform-provider-ec](https://github.com/elastic/terraform-provider-ec). I will transfer this issue to that repo.

[2022-03-14 13:45] Kushmaro commented on #85
@marekduciuc the provider already supports managing indices in its latest version ([docs](https://registry.terraform.io/providers/elastic/elasticstack/latest/docs/resources/elasticsearch_index))

regardless, the scope of the project is anything that sits within the API realm of the Elastic Stack.
This means:
- Elasticsearch
- Kibana
- Fleet Server
- Enterprise Search
- APM

For Ex.
We can make thi

[2022-03-14 13:45] #85 closed

[2022-03-14 13:47] Kushmaro commented on #84
We don't have any direct plans as of yet of creating a Pulumi provider
however, we can consider the above request, for it to be easier to generate (/cc @olksdr )

[2022-03-14 14:32] sf-sharris opened #87 "[Bug] Import of elasticstack_elasticsearch_index_lifecycle missing name attributes"
**Describe the bug**
After importing `elasticstack_elasticsearch_index_lifecycle`, the resource name in terraform state is `null` resulting in resource destroy & create upon next apply.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new index lifecycle policy independently of terraform
2. Create a matching terraform resource template
3. Initialize terraform state and import the ind

[2022-03-14 18:39] sf-sharris opened #88 "[Bug] elasticstack_elasticsearch_index_lifecycle fails when set_priority is 0"
**Describe the bug**
For `elasticstack_elasticsearch_index_lifecycle` resource, provider fails when the set_priority action is used and the priority value is set to `0`. Values such as 1, 50, 100 do work as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new `elasticstack_elasticsearch_index_lifecycle` resource
2. In any lifecycle stage, add `{set_priority { priority = 0 }

[2022-03-15 22:46] RichiCoder1 opened #89 "[Feature] terraform Provider Support for Fleet Integration policies"
**Is your feature request related to a problem? Please describe.**
At least right now, setting up Agent Policies and integration is a point and click operation. This gets especially difficult when setup up multiple different integrations across multiple policies, often with not too much variance.

**Describe the resource you would like to have implemented.**
https://www.elastic.co/guide/en/fleet/c

[2022-03-16 21:54] vinay-kosaraju opened #90 "[Bug] Error initializing 0.3.2 provider on darwin/amd64"
**Describe the bug**
Receiving an error while initializing `0.3.2` provider on an intel mac. The latest version of the provider I could initialize is `0.2.0`

**To Reproduce**
Steps to reproduce the behavior, on darwin/amd64:
1. `provider.tf`
[code]
2. run `terraform init`

**Expected behavior**
Initialize 0.3.2 version of elasticstack terraform provider

**Debug output**
For 0.3.2 version,
[code]

[2022-03-16 22:38] poiriermike opened #91 "[Bug] Data Stream settings are not persisting in index template"
**Describe the bug**
`data_stream` setting for `elasticstack_elasticsearch_index_template` is not persisting on subsequent runs

**To Reproduce**
1. Create an index template
2. Modify index template settings (tested by modifying priority
3. Re-run terraform plan (will show changes, but nothing about data stream)
4. Run terraform apply. Will remove the data stream property from the ojbect

**Expect

[2022-03-17 08:00] olksdr commented on #90
I just tested `init` on Mac, with latest version of the provider:

[code]

Running `init`:

[code]

Everything works as expected. I could not reproduce your error.

Make sure you do not have any issue with your network, that could be just a blip on TF registry side as well.

[2022-03-17 08:00] #90 closed

[2022-03-17 08:03] olksdr commented on #64
Closing this as inactive. Please, reopen if you could provide more context and logs for us to be able to debug the problem further.

[2022-03-17 08:03] #64 closed

[2022-03-18 06:46] #87 closed

[2022-03-18 06:54] #88 closed

[2022-03-20 05:19] gtheodorio opened #94 "[Feature] Index and Lifecycle conflict"
Something I noticed is that when you're creating a lifecyle policy with a delete step and you create the initial index using terraform, the lifecycle will delete the initial index. When you redeploy the terraform template the since-deleted index will be recreated, which is the expected behavior. The problem however, is that the index alias will be applied to the newly recreated index causing a con

[2022-03-21 15:55] #91 closed

[2022-03-22 12:14] olksdr commented on #91
New version of the provider is released https://github.com/elastic/terraform-provider-elasticstack/releases/tag/v0.3.3

[2022-03-22 12:14] olksdr commented on #88
New version of the provider is released https://github.com/elastic/terraform-provider-elasticstack/releases/tag/v0.3.3

[2022-03-22 16:50] alexfrancoeur commented on #5
+1 to support, this was recently raised during a customer call.

[2022-03-22 20:28] jitbasemartin commented on #70
I started work here: https://github.com/jitbasemartin/terraform-provider-elasticstack/tree/feature/issue-70 but I think it's too much for me :/
I will try to continue later but if someone wants to start something else I won't be angry ^^

[2022-03-24 21:27] poiriermike opened #96 "[Bug] Escaped backslash being ent to elasticstack_elasticsearch_ingest_processor_grok data object"
**Describe the bug**

When trying to create a grok pattern including a character that needs to be escaped, it appears the string with the escaped backslash is not un-escaping it before being sent to elastic. Therefore, trying to escape a single quote using `\\` will result in a `\\` being sent to elastic.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a grok data object and a new in

[2022-03-24 21:59] poiriermike commented on #96
Nevermind, this isn't an issue. I was just reading the output incorrectly. It's being un-escaped in the background.

[2022-03-24 21:59] #96 closed

[2022-03-25 01:01] blukeguy opened #97 "Terraform does not import Index Lifecycle Policy name when importing the resource"
When importing an existing "elasticstack_elasticsearch_index_lifecycle" resource, Terraform does not import the name field of the existing policy, which then forces a replacement of the current resource since the name field is required for that resource. The larger issue with this is that ILM Policies that are already in use by existing indices cannot be deleted since they are in use, therefore yo

[2022-03-25 05:28] olksdr commented on #97
@blukeguy  what the version of the provider do you have?
The [new version of the provider](https://github.com/elastic/terraform-provider-elasticstack/releases/tag/v0.3.3) was released few days ago where exactly this bug should haven been fixed.

[2022-03-25 08:56] paivin-dn commented on #64
Hi! I have a problem creating a new ilm. When I try to create a new resource
`resource "elasticstack_elasticsearch_index_lifecycle" "test-ilm1" {
  name = "test-ilm1"
  elasticsearch_connection {
    endpoints = ["${ec_deployment.cluster.elasticsearch[0].https_endpoint}"]
    username  = ec_deployment.cluster.elasticsearch_username
    password  = ec_deployment.cluster.elasticsearch_password
  }

[2022-03-25 12:14] blukeguy commented on #97
Believe we have the version before, will download the new version. Thank you.

[2022-03-25 12:14] #97 closed

[2022-03-25 19:45] BenB196 commented on #89
Definitely would be a fan of this, currently using a standalone agent with terraform yaml template because there isn't a good way to add 500+ integrations to a single policy with many small changes.

[2022-04-12 10:32] thbkrkr opened #98 "[Feature] Ease integration with ECK-managed Elasticsearch clusters"
**Description**

Make it easier to use the Elastic Stack Terraform Provider for ECK-managed Elasticsearch clusters by avoiding having to retrieve and set all credentials and instead just request a kubeconfig file to connect to Kubernetes, along with the namespace and name of the Elasticsearch resource.

Proposal:

[code]

[2022-04-21 08:25] vladyslav-sokolov commented on #70
+1

[2022-04-21 10:41] jebax opened #99 "[Feature] Prevent upgrading when on an unavailable EC version"
**Is your feature request related to a problem? Please describe.**
We're currently on version 7.17.2, and recently 7.17.3 was released. Because only the latest minor version of the previous major version is available to upgrade to in EC, 7.17.2 is no longer available so we're being forced to upgrade to 7.17.3.

This is particularly frustrating because we use NEST to communicate with EC, which can

[2022-04-21 11:09] olksdr commented on #99
This seems to be issue for https://github.com/elastic/terraform-provider-ec
Transferring it there

[2022-04-25 18:16] Kushmaro opened #100 "[Feature] Support Kibana connection in provider & in kibana resources"
In order for us to be able to manage Kibana resources, the provider connection block should also support kibana.
the kibana connection block should also accept an `insecure = true` parameter, that accept untrusted certificates. (this parameter value defaults to `false`)

### Example1 :
if an Elasticsearch block is configured, the kibana block should automatically pick up credentials as they should

[2022-04-26 10:40] RyanHealey1307 opened #101 "[Bug] Error on elastistack_elasticsearch_security_user on TF apply after upgrading to v8 Elastic"
**Describe the bug**
After upgrading from Elastic v7.17.3 > v8.1.1, when running an `apply` on a custom module which uses the Elasticstack provider, the resource `elastistack_elasticsearch_security_user` generates the following error message: `Error : Unable to find a user in the cluster.`.
For context, the user existed when we were on V7.17.3, and it was lost as part of the upgrade. We had not se

[2022-04-27 17:00] neckenth opened #103 "[Bug] TF apply forces index resource replacement without code changes"
**Describe the bug**
Upon each `terraform apply`, my `elasticstack_elasticsearch_index` index keeps getting replaced.

**To Reproduce**
Steps to reproduce the behavior:
1. TF configuration used '...'

[code]
3. TF operations to execute to get the error '...' [e.g `terraform plan`,`terraform apply`, `terraform destroy`]

`terraform plan` & `terraform apply`

5. See the error in the output '...'

[c

[2022-04-27 18:53] neckenth commented on #103
Whoops! Nevermind.

The `document_id` field was created dynamically upon document upsert. I must have seen that and updated the mapping only in the Elastic UI and forgotten to do the same in my TF code.

When I updated the `mappings` in my TF code to match the Mappings from the UI, replacement was no longer forced.

[2022-04-27 18:53] #103 closed

[2022-05-01 15:18] Fuco1 opened #104 "Add new resource to manage system user passwords"
System users cannot be managed by the existing `elasticstack_elasticsearch_security_user` resource. These users are not editable, except to change their password via the [change password](https://www.elastic.co/guide/en/elasticsearch/reference/current/security-api-change-password.html).

I think the simplest solution is to have a dedicated resource to manage the password on system users, updating

[2022-05-03 16:31] hp0620 opened #105 "[Bug] Unable to create index with date math"
**Describe the bug**

Create an index using date math
[code]

Terraform throws an error
[code]

**Expected behavior**
An index gets created and bootstrapped without any error

[2022-05-04 12:19] Crazybus commented on #105
Can you provide a curl command showing this works without using Terraform?

According to the docs it is not possible to create an index with date math in the name: https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-create-index.html#indices-create-api-path-params. And the error message looks to be correctly showing this.

Instead it looks like you need to add the date math as

[2022-05-04 14:37] ericlundmark commented on #46
Is there any way to know when this feature will be developed or if it is even in progress?

[2022-05-04 16:25] Andyandpandy commented on #5
Also interested in this. +1

[2022-05-04 22:40] hp0620 commented on #105
Thanks, I do have a quick question, though.

If the constraint is coming from the special character, then using the url encoding should work, as this commands work in curl and using the kibana dev console.

[code]
However, using the url encoding still does not allow the index to be created.

[code]

If create index api takes that parameter, my understanding is that it should be passed to the .tf f

[2022-05-05 08:25] Crazybus commented on #105
Thanks for providing the curl command, I understand what you are trying to do now.

The workflow of using Elasticsearch to dynamically name the index using datemath isn't compatible with the way Terraform works. If you create an index doing this Terraform will detect a drift and destroy/recreate the index every time that Terraform is being applied because the name does not match the one that is co

[2022-05-05 11:11] #101 closed

[2022-05-06 00:00] hp0620 commented on #105
Thanks a lot for the explanation, @Crazybus!

The ILM is in place. Just wanted to bootstrap the index. Yes, that format worked.

Thanks for the additional information on the volatility of the terraform creation. Was not aware of the destruction aspect, which makes terraform not as viable solution to automate the creation of indices and updating them.

So as of now, the application of terraform is

[2022-05-06 07:45] Crazybus commented on #105
Apologies for asking again, but could you please provide more information on what you are trying to achieve?

Are you maybe referring to this step in the ILM tutorial? https://www.elastic.co/guide/en/elasticsearch/reference/current/getting-started-index-lifecycle-management.html#ilm-gs-alias-bootstrap

If you follow those documents it will work as expected as there is no datemath being used to gen

[2022-05-06 09:13] fludo opened #107 "[Feature] Support for search templates / stored scripts"
We have many search template we deploy per-stack using the API/Dev-tools. This is actually errror-prone and we would like to include it in our Terraform scripts so we can manage it efficiently.

**Available APIs**
Create&Update script: https://www.elastic.co/guide/en/elasticsearch/reference/current/create-stored-script-api.html
Check currently deployed scripts: https://www.elastic.co/guide/en/elas

[2022-05-06 11:22] bruno-s-coelho opened #108 "[Bug] Not able to set array as value in index settings"
**Describe the bug**
We need to create an index with the following settings:
[code]

When we are defining settings, the provider is just accepting string values.

**To Reproduce**
The configuration used was the following one:
[code]

When terraform apply is executed, the output is:

Failed with:
{"error":{"root_cause":[{"type":"illegal_argument_exception","reason":"Custom
Analyzer [keyword_normali

[2022-05-07 00:19] hp0620 commented on #105
Thanks a lot for the input.

I opened this ticket on behalf of another user who was trying to automate the alias creation through terraform.

I have not verified the full use case yet on the needs of creating the alias separately this way, so I will have to discuss this with the other user.

Fully understood that dynamic index creation is not yet viable through terraform. Will validate the use cas

[2022-05-07 00:19] #105 closed

[2022-05-14 12:53] SamuZad opened #109 "[Bug] include_global_state parameter ignored for elasticstack_elasticsearch_snapshot_lifecycle"
**Describe the bug**
The include_global_state parameter is ignored when creating a elasticstack_elasticsearch_snapshot_lifecycle

**To Reproduce**
Both of these will produce a snapshot policy where the global state is included:

terraform {
  required_providers {
    elasticstack = {
      source = "elastic/elasticstack"
      version = "0.3.3"
    }
  }
}

provider "elasticstack" {
  elasticsearc

[2022-05-19 08:18] wsoo commented on #94
I have a similar scenario regarding rollover indices which I believe is the same root cause.

`terraform {
  required_providers {
    elasticstack = {
      source  = "elastic/elasticstack"
      version = "0.3.2"
    }
  }
}

provider "elasticstack" {
  elasticsearch {}
}

resource "elasticstack_elasticsearch_index_lifecycle" "test_logs_ilm_policy" {
  name = "test-logs-ilm-policy"

  hot {
    m

[2022-05-25 02:48] guitcastro opened #110 "Allow ca_file raw content in addition to filepath[Feature]"
**Is your feature request related to a problem? Please describe.**
I am using terraform_k8s_provider and have my CA certificated stored as secret. I want to be able to pass it to provider using:
` kubernetes_secret.es_ca.data["ca.crt"]`

**Describe the resource you would like to have implemented.**
Another option to pass the ca certificate to provider

**Describe the solution you'd like**
[code]

[2022-05-26 18:26] neckenth opened #111 "[Bug] provider cannot auth w/ PWs containing irregular chars"
**Describe the bug**
When creating a new Elasticsearch user via ElasticCloud UI, passwords with irregular characters are accepted. When using a password with irregular characters as the password for the `elastic/elasticstack` provider, cluster authentication fails. Perhaps the set of irregular characters are those that require URL encoding. ([MDN docs here](https://developer.mozilla.org/en-US/docs

[2022-05-27 07:26] psypuff opened #112 "[Bug] `total_shards_per_node` isn't supported by the `allocate` action of `elasticstack_elasticsearch_index_lifecycle`"
**Describe the bug**
According to the [ILM docs](https://www.elastic.co/guide/en/elasticsearch/reference/7.17/ilm-allocate.html), the `allocate` action supports the `total_shards_per_node` param. This TF provider, however, doesn't which produces an error when used.

**To Reproduce**
1. TF configuration used:
[code]
3. Execute `terraform plan`
4. See the error in the output:
[code]

**Expected beha

[2022-05-28 09:46] RobDTech commented on #46
Can’t wait to get this and the alerts features. It’s holding up our expansion of Elastic Cloud at the moment

[2022-05-31 14:23] greibrokka opened #113 "[Bug] elasticsearch_index_lifecycle - terraform plan bug"
**Describe the bug**
Terraform plan throws error when referring to a ILM which contains a rollover with size in g as gb had been used

**To Reproduce**
Steps to reproduce the behavior:

1. Adding index_lifecycles.tf
2. Terraform plan or apply doesn't throw any error
3. When referring to this ILM in a component template - component_templates.tf
4. Terraform plan throws this error, even though apply

[2022-06-01 15:58] PlugaruT opened #114 "[Bug] Import elasticstack_elasticsearch_security_user resources fails with connection refused"
**Describe the bug**
A clear and concise description of what the bug is.

Provider fails to use the correct connection settings defined in TF. We have configured the connection configuration just like in the tutorial in [here](https://registry.terraform.io/providers/elastic/elasticstack/latest/docs/guides/elasticstack-and-cloud). When running `terraform plan` or `terraform apply` everything works

[2022-06-06 10:02] raswinraaj opened #115 "[Feature] Need support for Logstash Pipeline Terraform Resource in Elastic Cloud"
**Is your feature request related to a problem? Please describe.**
Currently, the Elasticstack provider has support only for Ingest Pipelines. Need a similar support for Logstash pipelines

**Describe the resource you would like to have implemented.**
Logstash Pipeline

**Describe the solution you'd like**
Need a terraform resource which will help in creating Logstash Pipeline

**Describe alternat

[2022-06-09 09:53] ignuki opened #116 "[Bug] Terraform does not import Snapshot Repository name when importing the resource"
When importing an existing `elasticstack_elasticsearch_snapshot_repository` resource, Terraform does not import the name field of the existing repository, which then forces a replacement of the current resource since the name field is required for that resource.

**To Reproduce**
Steps to reproduce the behavior:
1. Import an existing snapshot repository.
2. Run `terraform apply` without changing a

[2022-06-09 16:05] sangeethdba opened #119 "[Bug] unable to create index with analyzer and normalizer in setting sections"
**Describe the bug**
unable to create index with analyzer and normalizer in setting sections

**Expected behavior**
need an example of index creation which has custom normalizer and analyzer define

**Versions (please complete the following information):**
 - OS: [e.g. Linux]
 - Terraform Version [e.g. 1.0.0]
 - Provider version [e.g. v0.1.0]
 - Elasticsearch Version [e.g. 7.16.0]

**Additional co

[2022-06-10 17:39] RobsonSutton commented on #113
@greibrokka -

If you take a look here (https://www.elastic.co/guide/en/elasticsearch/reference/current/api-conventions.html#byte-units) at the byte size units for the API conventions, it is documented as only supporting `gb` for gigabytes and not `g`.

This is referenced as the unit type used for the `max_size` attribute (https://www.elastic.co/guide/en/elasticsearch/reference/current/ilm-rollove

[2022-06-13 13:59] nicholas-r-king commented on #48
+5 we really need this.

[2022-06-14 06:10] greibrokka commented on #113
@RobsonSutton
Thank you for the feedback.

[2022-06-14 06:10] #113 closed

[2022-06-14 11:20] bruno-s-coelho commented on #108
Can I get some feedback here?
Thanks

[2022-06-14 13:00] cjr125 commented on #48
+6 please support

[2022-06-21 14:06] fludo commented on #107
Any news on this feature request ?

[2022-06-29 15:59] sangeethdba commented on #119
settings {
    setting {
      name  = "index.number_of_shards"
      value = "1"
    }
    setting {
      name  = "index.number_of_replicas"
      value = "1"
    }
    setting {
      name  = "index.search.idle.after"
      value = "20s"
    }
     analysis {
normalizer {
   lowercase_normalizer = {
      "type" = "custom",
      "filter" = [
        "lowercase", "asciifolding"
      ]
    }

[2022-06-29 16:01] sangeethdba commented on #119
╷
│ Error: Unsupported block type
│
│   on test_1.tf line 712, in resource "elasticstack_elasticsearch_index" "idx_qa_7":
│  712:      analysis {
│
│ Blocks of type "analysis" are not expected here.

[2022-07-05 20:08] cerdman commented on #48
+1 please add support

[2022-07-05 21:03] chanlawrencet commented on #48
+1 support for this would be a great help!

[2022-07-05 21:30] kryspetrie commented on #48
+1 PLEASE. Our support team really needs this!

[2022-07-07 13:45] rodya-mirov commented on #48
+1, This would be a big help for us, would appreciate any updates

[2022-07-07 13:50] hdeweirdt commented on #48
+1 great help for us

[2022-07-07 21:39] timmatsam commented on #48
+1 would greatly appreciate support for this

[2022-07-12 19:58] aleedom commented on #48
+1 could really use this feature for our workflow.

[2022-07-12 20:01] ModeEngage commented on #48
Would be great to use tools we already utilize to create our alerts!

[2022-07-12 20:16] jordan-donovan commented on #48
+1 this would be great for our team

[2022-07-12 20:18] mandragorn commented on #48
+1 this would really help reduce the load on our engineering support team.

[2022-07-12 20:34] desaip01 commented on #48
+1 would greatly appreciate support for this

[2022-07-13 02:24] eczernikowski commented on #48
+1 please support really need this!

[2022-07-14 04:48] pakio opened #124 "[Feature] Support index setting with json format"
This issue is a feature request to support the JSON format setting definition, as the index mapping definition supports.

I'm trying to use Elasticsearch as our search engine and we have massive amount of analysis settings on the index.
But since the current provider doesn't support the json format settings, I needed to write everything in terraform format, which was very hard to read and struggle

[2022-07-18 09:19] RobsonSutton commented on #48
@Kushmaro / @olksdr - I started taking a look at building this out the other day due to the level of demand from different people, but I couldn't seem to find an elastic supported go client for the Kibana API... I can see the elasticsearch one that is currently being used (https://github.com/elastic/go-elasticsearch). Please can you advise on the plan for delivering any of the Kibana based functio

[2022-07-20 07:07] greibrokka opened #125 "[Bug] Unable to use the option allow_restricted_indices when creating security role"
**Describe the bug**
Attempting to create a security role with write-access to system-indexes. Related to https://github.com/elastic/elasticsearch/pull/81400

**To Reproduce**
Steps to reproduce the behavior:
1. TF configuration used
'resource "elasticstack_elasticsearch_security_role" "fleet_superuser" {
  name    = "fleet_superuser"

  indices {
    names      = [".fleet*"]
    privileges = ["al

[2022-07-23 14:30] RobsonSutton commented on #124
@pakio - Apologies if it's a silly question:

Are you not able to define some templates for this as opposed to directly defining the settings for the specific index? it may be a good workaround to use in the meantime.
https://github.com/elastic/terraform-provider-elasticstack/blob/main/examples/resources/elasticstack_elasticsearch_index_template/resource.tf - you can define the index template to m

[2022-07-23 15:42] PBarnard opened #127 "[Bug] Provider resets user password"
**Describe the bug**
If I create a User resource and they then change their password in Kibana, if I then subsequently update the User's role membership, their password appears to be reset to the initial value when the resource was created.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new User resource with a default hashed password of "password"
2. Get the user to update their p

[2022-07-25 01:11] pakio commented on #124
Thank you for your comment, @RobsonSutton !

In my use case, we need to update the configuration on the live index, e.g, adding new fields, changing number_of_replicas, and changing the `search_analyzer` to apply new filters or synonyms.
Please correct me if I'm saying wrong, but in my understanding, updating the index template does not update the live index.

[2022-07-25 08:52] RobsonSutton commented on #124
@pakio - Drat! I was hoping your use case would be a bit more generic, you are completely correct, any updates will only affect a new version of the templates following the approach I mentioned. I'll take a look at whether I can raise something to get this changed directly via the index resource when I have a spare few mins, hopefully it shouldn't be too difficult as the logic can probably just be

[2022-07-25 10:11] RobsonSutton commented on #127
@PBarnard - I believe this may be more linked to the behaviour of terraform as opposed to the specific provider. If the hashed password is being stored in state then when you run a TF Plan it will compare the value in state against the infrastructure and revert anything that has not been applied via IaC. If you can try running the above steps but without step 3 and instead just rerun a TF apply ba

[2022-07-25 17:08] PBarnard commented on #127
Thanks for the feedback @RobsonSutton I'll definitely have a look into the `ignore_changes` lifecycle as you suggested.

It's worth mentioning though that I don't think it's possible to retrieve a User's password. If I do a GET against `security/user/username` then password isn't returned, as such, it's not possible for Terraform to compare the password set on creation against the current password

[2022-07-26 08:27] fludo commented on #47
@Kushmaro Any clue when this will be available ?

[2022-07-26 08:53] RobsonSutton commented on #127
@PBarnard - That makes sense! Apologies, am new to provider dev and probably should have actually looked at the code and docs first...!

Can see that your expectation of the behaviour is reinforced by the docs here: https://www.elastic.co/guide/en/elasticsearch/reference/current/security-api-put-user.html

I have raised a PR but haven't had a chance to test yet, hopefully will have some time this

[2022-07-26 09:28] arogic opened #129 "[Bug] Unable to import an existing elasticsearch user"
**Describe the bug**
Unable to import an existing user using `terraform import elasticstack_elasticsearch_security_user.editor <cluster_uuid>/elastic`.

**To Reproduce**
Steps to reproduce the behavior:
1. `terraform init`
2. `terraform import elasticstack_elasticsearch_security_user.editor <cluster_uuid>/elastic`
3. See the error in the output
[code]

**Expected behavior**
A clear and concise des

[2022-07-26 16:25] PBarnard commented on #127
Great! Thanks @RobsonSutton 😄

[2022-07-28 08:41] ivan-penchev commented on #71
https://github.com/elastic/terraform-provider-elasticstack/pull/130 solves this.

[2022-07-28 11:04] tobio opened #131 "[Feature] Run acceptance tests in CI using API Key auth."
Related to https://github.com/elastic/terraform-provider-elasticstack/pull/130

With the option of using an API key in the provider connection, we should ensure the acceptance tests are run with both username/password and api key authentication schemes.

[2022-07-28 22:50] #71 closed

[2022-08-02 06:57] nikahkeller opened #132 "[Bug] Importing the elasticsearch index is failing without a specific reason"
**Describe the bug**
I am trying to import an index change into the state. This is the command I am using:
`terraform import -var-file=$TERRAFORM_ENV/variables.tfvars elasticstack_elasticsearch_index.index {cluster_id}/{index_name}`. It is failing with this message: Error: Unable to import requested index. No other information is provided. I am also trying to add more debugging information to the

[2022-08-08 13:31] PBarnard opened #133 "How do you escape a newline in Grok regular expression"
I'm having trouble escaping a newline character in an `elasticstack_elasticsearch_ingest_processor_grok` data block:

![image](https://user-images.githubusercontent.com/14309231/183429458-ed30d055-d671-472e-a4e6-dd424d0edb8a.png)

Resulting output from Terraform Plan:

![image](https://user-images.githubusercontent.com/14309231/183429607-fce43637-e3db-4dc5-ba22-604838e4effd.png)

I can't see anyth

[2022-08-08 20:09] PBarnard commented on #133
Having investigated this a bit further it would appear that the Grok patterns are created correctly in Elastic and the issue I reported above is merely the text output of the Terraform Plan rendering incorrectly.

[2022-08-08 20:09] #133 closed

[2022-08-09 09:41] fludo opened #134 "[Feature] roadmap for futur releases ?"
Sorry for opening an issue for it but I cannot find someone to answer my question on discuss.elastic.co: https://discuss.elastic.co/t/terraform-elasticstack-provider-features-and-roadmap/309623

We are expecting many new features to be available on 0.4.0 (TBR) or future releases: Kibana ressources, role mapping.
I also have opened a feature request for script/search template support [[Feature] Sup

[2022-08-09 11:30] Kushmaro commented on #134
@fludo , upcoming roadmap items are communicated via the milestone section of this project. We don't communicate timelines for these, as of yet.

I'll be closing this issue as the milestone section we'll reflect everything we intend to work on. The reason regular development had ceased for a while was due to a shift in priorities and working teams on this. But it should resume shortly enough.

clo

[2022-08-09 11:30] #134 closed

[2022-08-09 12:07] fludo commented on #134
@Kushmaro Thanks for your reply, I hope it will resume soon since they are few key feature that are missing to fully deploy our assets "as code" with terraform.

[2022-08-12 12:26] RyanHealey1307 opened #135 "[Bug] Issues with passing down the elasticstack provider to a child module."
**Describe the bug**
I am having issues with passing down the elasticstack provider to a child module.

I'm using the elasticstack provider in a custom Terraform module - which creates some resources, like datastreams, index templates, roles, users, etc.
I have a pipeline which deploys infrastructure for Logstash via Terraform - part of which is calling the above module.

I'm trying to pass down t

[2022-08-14 15:29] #135 closed

[2022-08-26 14:45] thekofimensah opened #136 "_meta description not working for settings"
**Describe the bug**
I'm having an issue where I'm unable to put the _meta.description field into my settings component template. I get this error:

[code]

I'm using TF cloud for this and it doesn't make complete sense because it says that index._meta.description isn't valid. But my `_meta` is not part of the `index` object. Why does it think that?

In my main.tf
[code]

and my tfvars:
[code]

Us

[2022-09-13 04:21] #84 closed

[2022-09-13 19:57] tobio commented on #104
`_reserved` (and other `_*`) fields are set on system users, which are not editable except to change their password. This means that any request to `PUT _security/users/<reserved-user>` will fail. There's a discuss [thread](https://discuss.elastic.co/t/kibana-system-user-management/265793) on this topic.

This means that the current implementation of `elasticstack_elasticsearch_security_user` will

[2022-09-14 14:12] RyanHealey1307 commented on #101
Still seeing this behaviour. One of our environments had to be rebuilt, upon applying the terraform after rebuild (where the user had been lost), it errored with "Unable to find a user in the cluster." rather than detecting the user does not exist / has been deleted and therefore creating a new one

[2022-09-15 11:14] tobio commented on #127
Closed by https://github.com/elastic/terraform-provider-elasticstack/pull/128

[2022-09-15 11:14] #127 closed

[2022-09-15 12:01] #124 closed

[2022-09-15 12:11] tobio commented on #108
Fixed as part of https://github.com/elastic/terraform-provider-elasticstack/pull/137

[2022-09-15 12:11] #108 closed

[2022-09-15 12:12] tobio commented on #119
Fixed as part of https://github.com/elastic/terraform-provider-elasticstack/pull/137

[2022-09-15 12:12] #119 closed

[2022-09-15 16:19] strelok899 commented on #70
+1 on this feature

[2022-09-16 20:21] #110 closed

[2022-09-22 04:20] #125 closed

[2022-10-05 08:55] #47 closed

[2022-10-09 23:42] tobio commented on #111
I  can't reproduce this with the provided password, and there's nothing in the provider which treats the password as anything but a string parameter used by the [go-elasticsearch](https://github.com/elastic/go-elasticsearch) client.

For clarity, I have hard coded the credentials:

[code]

I'm closing this for now, happy to dig into this further if anyone has a current reproduction, including how

[2022-10-09 23:42] #111 closed

[2022-10-09 23:46] tobio commented on #144
Duplicate of #70

[2022-10-09 23:46] #144 closed

[2022-10-10 08:17] RobsonSutton commented on #136
@thekofimensah - Hey 👋 The issue is just where you're trying to set the _meta field. This is a field that you set within mappings templates as opposed to settings templates. If you take a look below I can add this field to the mappings part of a component template:
![Screenshot 2022-10-10 at 09 06 06](https://user-images.githubusercontent.com/88885489/194822383-e5548e83-0ba1-477a-93d0-df494f0e232d

[2022-10-10 16:00] Avinashparisa opened #152 "Unable to delete index_template"
**Describe the bug**
We are trying to delete an index_template using the terraform destroy and we are encountering the following error. we have added the TF file in the attachment. We are able to manually delete the index_template on the dev_tools UI and the run the terraform destroy which worked fine.

_Error: Cycle: module.app_configs.var.es_cluster_http_endpoint (expand), module.app_configs.var

[2022-10-13 16:31] RobsonSutton commented on #152
@Avinashparisa -
From first glance this looks more like a Terraform Cycle issue, than an issue with this provider (Take a look here: https://learn.hashicorp.com/tutorials/terraform/troubleshooting-workflow). You'll normally get these when you have dependencies against different resources within terraform and these create a catch-22 type scenario.

Because you are referencing your ILM policy, index

[2022-10-14 18:43] RobsonSutton opened #154 "[Feature] Support for Watches"
**Watcher feature:** To allow for management of watches via Terraform

**Watcher API's:** https://www.elastic.co/guide/en/elasticsearch/reference/current/watcher-api.html

**Supported Elasticsearch Go Client functions:**
- [api.xpack.watcher.ack_watch.go](https://github.com/elastic/go-elasticsearch/blob/e50e5ce23d15356e4293c95fdd3e2cf8e15f671c/esapi/api.xpack.watcher.ack_watch.go)
- [api.xpack.wat

[2022-10-15 09:06] tobio commented on #152
Like @RobsonSutton says, this is almost certainly an issue with your Terraform module definitions.

[code]

It seems like the cycle is referencing a different index template, to better understand what's creating this cycle we'd need the definition of all the resources referenced in the error message. The output of `terraform graph` would be helpful too.

[2022-10-17 01:50] thekofimensah commented on #136
Thanks for the response. I'm trying to put the `_meta` field as a sibling to the template object.. i.e.

[code]

This works just fine on my side.

[2022-10-17 06:18] tobio commented on #100
Is there a plan around interfacing with the Kibana API? AFAIK Elastic doesn't provide a Go (or any other language) client for the Kibana API. If there's an expectation that we build that client as part of adding TF support for those resources then it's going to add significantly to the dev time on these tasks. Is there capacity within the Clients team to at least provide the scaffold for these cli

[2022-10-17 07:27] Kushmaro commented on #100
@tobio Yes, there's a plan to interface with the Kibana API. The provider should interact with all parts of the stack.
The ResponseOps team have rules and alerts for TF on their roadmap.

/cc @shanisagiv1

[2022-10-17 07:30] tobio commented on #100
Sure, but who's building the actual api client? If it's us then 10x any estimate for this task since we'd also have to build all the basics of an API client.

[2022-10-17 08:21] RobsonSutton commented on #136
@thekofimensah - Yeah so this does not sit within the template part of the request, the equivalent of what you are attempting to do should be achieved similar to the below using the metadata field:

`
resource "elasticstack_elasticsearch_component_template" "metricbeat_noisy-settings" {
  name = "metricbeat_noisy-settings"

  metadata = jsonencode({
      "description" = "Working test"
    })

  t

[2022-10-17 09:21] othmane399 opened #156 "v0.4.0 not released in the official terraform providers"
Hello,

v0.4.0 is not released yet in the terraform providers official https://registry.terraform.io/providers/elastic/elasticstack/latest

is something missing or just need to wait couple of days ?

[2022-10-17 19:43] thekofimensah commented on #136
Oh ok, that then works. Thanks!

[2022-10-17 19:43] #136 closed

[2022-10-17 23:50] tobio commented on #156
Thanks for the issue, we've been tracking down some permissions issues. 0.4.0 is available in the registry now:

<img width="688" alt="image" src="https://user-images.githubusercontent.com/444668/196304159-e4163489-f0b3-4831-a5e4-47be1b3819f2.png">

[2022-10-17 23:50] #156 closed

[2022-10-17 23:51] tobio opened #157 "[Feature] Provider releases should be automated through CI rather than run on a local dev machine."
For the most part, we should be able to copy the pipeline config from the Elastic Cloud provider.

[2022-10-19 16:47] drenze-athene commented on #152
I'm having this same issue with `elasticstack_elasticsearch_ingest_pipeline`.

[2022-10-20 11:37] arogic commented on #129
In the meantime I figured out how to use the import command correctly. I guess the documentation should have a better example. It turns out that you need to specify the existing user at the end of the command. The "elastic" user used in the documentation example is misleading.

`terraform import elasticstack_elasticsearch_security_user.editor <cluster_uuid>/<username>`

[2022-10-20 11:37] #129 closed

[2022-10-20 13:14] Avinashparisa commented on #152
@tobio, @RobsonSutton. I have generated terraform graph.

[code]

[2022-10-24 22:32] tobio commented on #152
@Avinashparisa thanks for the graph, like I mentioned before, we'd also need the actual module definitions listed in the cycle error:

Error: Cycle: module.app_configs.var.es_cluster_http_endpoint (expand), module.app_configs.var.username (expand), module.app_configs.var.password (expand), module.app_configs.provider["registry.terraform.io/elastic/elasticstack"], module.app_configs.elasticstack_el

[2022-10-25 08:41] k-yomo opened #164 "Put link to terraform registry in About section"
It would be great if we could put the below link in about section like [the other providers do](https://github.com/hashicorp/terraform-provider-google) to be able to quickly jump to the doc.
https://registry.terraform.io/providers/elastic/elasticstack/latest/docs

[2022-10-25 08:48] tobio commented on #164
Yea, good idea. Done.

[2022-10-25 08:48] #164 closed

[2022-10-25 08:50] k-yomo commented on #164
@tobio
Thank you!

[2022-10-26 03:39] #115 closed

[2022-10-26 12:03] k-yomo opened #165 "[Feature] Make index resource safer to manage"
We may want to have `deletion_protection` in `index` resource like cloud SQL or the other important resources have to prevent unintended deletion.
The `deletion_protection` should be `true` by default and need to be updated it to `false` when we truly want to delete the index. With this, we will have a safer way to manage indices for production use cases.
https://registry.terraform.io/providers/ha

[2022-10-26 23:31] tobio opened #168 "[Feature] Add basic PR checks as Github actions"
Lint is run as part of the current acceptance test task, however this isn't run automatically for community sourced PR's which unnecessarily lengthens the feedback cycle for those PR's. Basic CI checks should be automatically triggered for all PRs via GH actions, they should include:

* Lint + Compilation
* Unit tests
* That there are no uncommitted docs changes

[2022-10-26 23:31] tobio commented on #165
@Kushmaro FYI.

[2022-10-27 02:46] k-yomo commented on #168
I would love to have CI on github actions to let community contributors to work easily on the project.
Could we also move acceptance tests to Github actions?

[2022-10-28 06:43] #168 closed

[2022-10-28 14:51] Avinashparisa commented on #152
@tobio Thanks for the feedback ,  We have a ticket open with Elastic cloud and this is the case number. We have provided the entire project repo to  them, please let me know if you have trouble getting it from them.  Bryan is the engineer supporting from elastic.

[2022-10-30 10:40] k-yomo opened #179 "[Feature] Automatic changelog generation"
We are manually editing CHANGELOG.md now but it's easier to forget to add and also have conflicts.

It would be great if we can introduce a way to automatically generate change log when PR gets merged.

[2022-10-31 04:05] #82 closed

[2022-10-31 10:51] k-yomo opened #182 "[Feature] Update dependent GitHub actions via dependabot"
Update dependent GitHub actions with dependabot to keep them updated.

[2022-10-31 20:54] #182 closed

[2022-11-01 23:36] #107 closed

[2022-11-04 00:48] #116 closed

[2022-11-08 15:12] k-yomo commented on #104
Hi, I started working on this!
Is there any way to identify the user is system-user?  If not, it's possible to update non-system user's password with this resource by mistake.
And if we don't have a way to distinguish system-user, then resource name can be just `user_password`?

[2022-11-08 15:44] k-yomo opened #189 "[Bug] Unit test command fail due to unexpectedly running acceptance tests"
Currently unit tests fail if elasticsearch is not up due to unexpectedly running acceptance tests by using `resource.UnitTest`.
https://github.com/elastic/terraform-provider-elasticstack/blob/main/internal/elasticsearch/index/template_test.go#L18

We should have clear separation for unit tests and acceptance tests as below.
- unit tests tests with no external dependencies
- acceptanec test: tests

[2022-11-10 03:48] #189 closed

[2022-11-10 06:26] #112 closed

[2022-11-10 21:41] thekofimensah commented on #49
++ I have several transforms that I would like to manage with terraform. This would be super appreciated. Transforms have been a life saver and a mega enhancement since they first came out. They've completely changed the game

[2022-11-10 21:48] #157 closed

[2022-11-11 16:12] chr-b opened #192 "[Feature] elasticstack_elasticsearch_security_role_mapping"
**Is your feature request related to a problem? Please describe.**
The current provider already supports the `elasticstack_elasticsearch_security_role` resource. However, creating a security role mapping is currently not available.
This is limiting the usability of the security role resource itself, because I can't map it with Terraform.

**Describe the resource you would like to have implemented.

[2022-11-11 16:32] k-yomo commented on #192
@chr-b
security role mapping is added to the latest version v0.4.0!
https://registry.terraform.io/providers/elastic/elasticstack/latest/docs/resources/elasticsearch_security_role_mapping

I missed to set subcategory when I added the resource, so now it's not under security category...! (It'll be fixed in the next release)

[2022-11-11 18:54] chr-b commented on #192
Oh, sorry, totally missed that.
Thanks for the hint :)

[2022-11-11 18:54] #192 closed

[2022-11-17 10:51] yoavshemesh-riskified opened #195 "Add index.unassigned.node_left.delayed_timeout"
**Is your feature request related to a problem? Please describe.**
Please add the index settings
"index.unassigned.node_left.delayed_timeout"
as described here https://www.elastic.co/guide/en/elasticsearch/reference/current/delayed-allocation.html

**Describe the resource you would like to have implemented.**
The Terraform resource is "elasticstack_elasticsearch_index"

**Describe the solution you

[2022-11-21 00:53] #70 closed

[2022-11-21 10:10] #195 closed

[2022-11-21 10:19] k-yomo opened #199 "[Feature] `api_key` and `encoded` should be sensitive fields in api_key resource"
`api_key` and `encoded` (encoded api key) are the sensitive values, so the fields should be marked as `sensitive` same as the password field in user resource.
https://github.com/elastic/terraform-provider-elasticstack/blob/main/internal/elasticsearch/security/user.go#L36-L51

The other provider marks api key as sensitive too.
https://github.com/hashicorp/terraform-provider-google/blob/main/google/

[2022-11-21 10:26] #199 closed

[2022-11-21 10:29] #104 closed

[2022-11-21 10:32] #131 closed

[2022-11-21 22:40] webfella commented on #132
Thanks for raising this @nikahkeller, could you also please provide the variables referenced in the repro example?

[2022-11-21 23:56] tobio opened #203 "DRY up the elasticsearch connection schema and client construction."
Currently the provider defines an [`elasticsearch`](https://github.com/elastic/terraform-provider-elasticstack/blob/main/provider/provider.go#L24-L80) block which is duplicated by the [`elasticsearch_connection`](https://github.com/elastic/terraform-provider-elasticstack/blob/main/internal/utils/utils.go#L126-L182) block added to each resource.

These schemas are expected to be identical, we shoul

[2022-11-22 07:23] webfella commented on #203
Added to `0.5.0`, so we can get this done before adding more duplication via https://github.com/elastic/terraform-provider-elasticstack/issues/100.

[2022-11-22 20:37] sam-h-bean opened #207 "Support Configuring Cross-Cluster Replication via Terraform"

[2022-11-23 03:58] nicholas-r-king commented on #62
+1 for dashboard

[2022-11-24 15:32] eloo commented on #62
are there any plans here to get this done?
as a paying customer its a bit sad that we are not able to properly manage saved objects...

[2022-11-24 21:33] tobio commented on #62
We're working on adding support for Kibana resources right now and will be working through the different resources in the coming releases.

[2022-11-25 07:53] eloo commented on #62
sounds good 👍
thanks for the update